package components

import "github.com/mikeshawdev/contact-book-go-htmx/models"

templ OobContactListItem(contact models.Contact) {
	<div id="contacts" hx-swap-oob="afterbegin">
		@ContactListItem(contact)
	</div>
}
