package views

import "github.com/mikeshawdev/contact-book-go-htmx/views/layouts"

templ NewContact() {
  @layouts.Main("new-contact", "Create new contact") {
    <p>Hello from the new contact page!</p>
  }
}
