package components

import "github.com/mikeshawdev/contact-book-go-htmx/components/layouts"

templ Settings() {
  @layouts.Main("settings", "Settings") {
    <p>Hello from the settings page!</p>
  }
}
